{%- assign header_pages = site.nonposts | where: 'header_page', 'true' -%}
{%- assign titles_size = site.nonposts | map: 'header_page' | compact | size -%}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 natanav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Natanotes</a>
      </div>
      {%- if titles_size > 0 -%}
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {%- for page in header_pages -%}
            {%- if page.title -%}
            <li>
              <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
            </li>
            {%- endif-%}
          {%- endfor -%}
        </ul>
      </div><!--/.nav-collapse -->
      {%- endif-%}
    </div>
  </div>
</nav>
