.natasection {
  margin: 15px 0 15px 0;
  padding-top: 10px;

  h2 {
    &.title {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        background: #fff;
        margin-right: 15px;
      }

      &:after {
        background: black;
        height: 2px;
        flex: 1;
        content: '';
      }
    }
  }
}
